/* **************************************************************** */
/* Left Bar Custom Icons */
#LeftMenuMyAccount svg,
#LeftMenuMyEvents svg,
#LeftMenuMyFiles svg,
#LeftMenuMyUsers svg,
#LeftMenuMyServer svg,
#LeftMenuMyDevices svg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1em !important;
    height: 1em !important;
    display: inline-block !important;
}

#LeftMenuMyAccount svg path,
#LeftMenuMyEvents svg path,
#LeftMenuMyFiles svg path,
#LeftMenuMyUsers svg path,
#LeftMenuMyServer svg path,
#LeftMenuMyDevices svg path {
    display: none !important;
}

/* Individual icons */
#LeftMenuMyDevices svg {
	background-image: url(/images/icons/LeftMenuMyDevices.png)
}

#LeftMenuMyAccount svg {
	background-image: url(/images/icons/LeftMenuMyAccount.png)
}

#LeftMenuMyEvents svg {
	background-image: url(/images/icons/LeftMenuMyEvents.png)
}

#LeftMenuMyFiles svg {
	background-image: url(/images/icons/LeftMenuMyFiles.png)
}

#LeftMenuMyUsers svg {
	background-image: url(/images/icons/LeftMenuMyUsers.png)
}

#LeftMenuMyServer svg {
	background-image: url(/images/icons/LeftMenuMyServer.png)
}